<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

      body{
        font-family: 'Nunito', sans-serif;
      }
    </style>
  </head>
  <body>
    <table class="table table-bordered">
        <tr class="table-dark" style="background-color:#28242c" >
          <td colspan="7"><img src="https://www.controlid.com.br/assets/images/logo.png" alt="" style=" margin-left: 20px; "></td>
            <th colspan="3">Pedido Comercial Final</th>
        </tr>
        <tbody>
          <tr>
            <th>Lead no Pipedrive:</th>
            <td colspan="5">hhtps://babababa.com</td>
            <th></th>
            <td>Luiz Oliveira</td>
            <th>Data</th>
            <td>16/09/2022</td>
          </tr>
          <tr>
            <tr style="height: 1em;"></tr>
            <th colspan="11" class="table-dark" style="background-color:#28242c;">
                Informações de Contrato
            </th>
          </tr>
          <tr style="width: 100%;">
            <th colspan="2" style="width: 30%;" >Assinado digitalmente</th>
            <td colspan="2" style="width: 10%;">Sim</td>
            <td colspan="6" style="width: 50%;">kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</td>
          </tr>
          <tr>
            <tr style="height: 1em;"></tr>
            <th colspan="10" class="table-dark" style="background-color:#28242c; align-items: center;">
                Informações de Faturamento
            </th>
          </tr>
          <tr>
            <th>CNPJ</th>
            <th colspan="2">Razão Social</th>
            <th colspan="5">Endereço</th>
            <th>CCM</th>
            <th>IE</th>
          </tr>
          <tr>
            <td><%= date.cnpj %></td>
            <td colspan="2"><%= date.corporateName %></td>
            <td colspan="5"><%= date.billingAddress%>,
              <%= date.billingAddressNumber%>,
              <%= date.billingDistrict%>, <%= date.billingCity%> - <%= date.billingState%> - <%= date.billingCep%></td>
            <td>isento</td>
            <td>isento</td>
          </tr>
          <tr>
            <th>Plano</th>
            <td >Lite</td>
            <th style="width: 10%;">Qt Funcionário</th>
            <td><%= date.numberOfCollaborators %></td>
            <th>Qt Equipamento</th>
            <td colspan="2"><%= date.equipamentNumber %></td>
            <th>Fidelidade</th>
            <td colspan="2">12 Meses</td>
          </tr>
          <tr>
            <th style="width: 10%;" >Cond. pagto. produto</th>
            <td colspan="2">Somente Serviços</td>
            <th>Condição Serasa</th>
            <td colspan="3">Sem restrição</td>
            <th>Data de Fundação</th>
            <td colspan="2">Mais de 1 ano</td>
          </tr>
          <tr>
            <tr style="height: 1em;"></tr>
            <th colspan="10" class="table-dark" style="background-color:#28242c">
                Endereço de Cobrança
            </th>
          </tr>
          <tr>
            <th>CNPJ</th>
            <th colspan="2">Razão Social</th>
            <th colspan="5">Endereço</th>
            <th>CCM</th>
            <th>IE</th>
          </tr>
          <tr>
            <td><%= date.cnpj%></td>
            <td colspan="2"><%= date.corporateName %>
              <%= date.billingAddressNumber%>,
              <%= date.billingDistrict%>,
              <%= date.billingCity%> -
              <%= date.billingState%> -
              <%= date.billingCep%>
            </td>
            <td>isento</td>
            <td>isento</td>
          </tr>
          <tr>
            <tr style="height: 1em;"></tr>
            <th colspan="10" class="table-dark" style="background-color:#28242c">
                Pessoa(s) de contato para financeiro e Cobrança
            </th>
          </tr>
          <tr>
            <th>Nome</th>
            <th colspan="2">E-mail</th>
            <th colspan="2">Telefone Fixo</th>
            <th colspan="5">Telefone Celular</th>
          </tr>
          <tr>
            <td><%= date.clientName %></td>
            <td colspan="2"><%= date.clientEmail %></td>
            <td colspan="2"></td>
            <td colspan="5"><%= date.clientTelephone %></td>
          </tr>
          <tr>
            <tr style="height: 2em;"></tr>
            <th colspan="10" class="table-dark" style="background-color:#28242c">
                Endereço de Instalação
            </th>
          </tr>
          <tr>
            <th>CNPJ</th>
            <th>Razão Social</th>
            <th colspan="5">Endereço</th>
            <th>CCM</th>
            <th>IE</th>
            <th>Quantidade</th>
          </tr>
          <tr>
            <td>23343434343</td>
            <td>com a razão</td>
            <td colspan="5">Rua guatabus, 455, eldorado, diadema - sp</td>
            <td>isento</td>
            <td>isento</td>
            <td>1</td>
          </tr>
          <tr>
            <td>23343434343</td>
            <td>com a razão</td>
            <td colspan="5">EST FRANCISCO DA CRUZ NUNES, 130,QUADRA 104;LOTE 21, Itaipu,24.340-000 </td>
            <td>isento</td>
            <td>isento</td>
            <td>2</td>
          </tr>
          <tr>
            <th colspan="10" class="table-dark" style="background-color:#28242c">
                Pessoa(s) de contato para instalação / operacional / TI / RH
            </th>
          </tr>
          <tr>
            <th colspan="2">Nome</th>
            <th colspan="2">E-mail</th>
            <th colspan="3">Contato</th>
            <th colspan="3">Departamento</th>
          </tr>
          <tr>
            <td colspan="2">Luiz</td>
            <td colspan="2">luiz@luiz.com</td>
            <td colspan="3">(11)9 82842317</td>
            <td colspan="3">Recursos Humanos</td>
          </tr>
          <tr rowspan="2">
            <th colspan="2">Observações para NFiscal</th>
            <td colspan="8"><%= date.noteForInvoice%></td>
          </tr>
          <tr rowspan="2">
            <th colspan="2">Observações Financeiro</th>
            <td colspan="8"><%= date.financialObservation %></td>
          </tr>
          <tr rowspan="2">
            <th colspan="2">Observações Instalação</th>
            <td colspan="8"><%= date.observationInstallation %></td>
          </tr>
          <tr class="table-dark" style="background-color:#28242c">
            <th >Código UNO</th>
            <th colspan="3">Descrição Comercial</th>
            <th>Quantidade</th>
            <th colspan="2">Valor de compra Unitário</th>
            <th >Valor de compra Total</th>
            <th>Unitario Mensal</th>
            <th>Total Mensal</th>
          </tr>
          <tr></tr>
          <tr>
            <td><%= date.productCode %></td>
            <td colspan="3"><%= date.commercialDescription %></td>
            <td><%= date.amountOfProduct %></td>
            <td colspan="2"><%= date.unitPurchasePrice %></td>
            <td><%= date.totalPurchaseAmount %></td>
            <td><%= date.monthlyUnitValue %></td>
            <td><%= date.totalMonthlyAmount %></td>
          </tr>
        </tbody>
      </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
